{% extends 'voda/base.html' %}
{% load staticfiles %}
{% block title %} О компании {% endblock %}
{% block content %}

    <section id="about-us" class="container">
        <h1 class="center">Наша команда</h1>
        <p class="lead center">Специалисты "Коммунэнергосервиса" всегда к вашим услугам.</p>
        <div class="gap"></div>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div id="meet-the-team"  class="carousel-inner" role="listbox">
                <div class="item active">

                    <div class="row">

                        <div class="col-md-3 col-xs-6">
                            <div class="center">
                                <p><img class="img-responsive img-thumbnail img-circle" src="{% static 'voda/images2/imgs_old/p1.jpg' %}" alt="" ></p>
                                <h5>Линьков Владимир Александрович<small class="designation muted">Директор</small></h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-6">
                            <div class="center">
                                <p><img class="img-responsive img-thumbnail img-circle" src="{% static 'voda/images2/imgs_old/p2.jpg' %}" alt="" ></p>
                                <h5>Линьков Александр Леонидович<small class="designation muted">Заместитель директора</small></h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-6">
                            <div class="center">
                                <p><img class="img-responsive img-thumbnail img-circle" src="{% static 'voda/images2/imgs_old/p3.jpg' %}" alt="" ></p>
                                <h5>Мальцева Алина Андреевна<small class="designation muted">Бухгалтер</small></h5>
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-6">
                            <div class="center">
                                <p><img class="img-responsive img-thumbnail img-circle" src="{% static 'voda/images2/imgs_old/p4.jpg' %}" alt="" ></p>
                                <h5>Кушнир Алексей Васильевич<small class="designation muted">Главный инженер</small></h5>
                            </div>
                        </div>

                    </div><!--div.row-->
                </div><!--div.item-->

            </div><!--div.carousel-inner-->

            <!-- Controls -->
            <!--a style="background-image: none;" class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a style="background-image: none;" class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a-->
        </div>

    </section><!--/#about-us-->

    <section id="title" class="">
        <div class="container">
            <h1>О компании</h1>
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>ООО "Коммунэнергосервис"</h4>
                            <p><b>Юридический адрес:</b> 161308, Вологодская область, Тотемский район, п. Текстильщики, ул. Гагарина, 4А/29</p>
                            <p><b>Фактический адрес:</b> 161300, Вологодская обл., г. Тотьма, ул. Ленина, д.58</p>
                            <p>
                                <b>Тел:</b> 8 (921) 069-99-69, 8 (953) 503-35-85<br>
                                <b>Факс:</b> 8 (81739) 2-10-40
                            </p>
                            <p><b>Эл. почта:</b> <a href="mailto:energoservis35@yandex.ru">energoservis35@yandex.ru</a></p>
                            <p><b>Веб-сайт:</b> <a href="http://www.kommunenergoservis.ru" target="_blank">http://www.kommunenergoservis.ru</a></p>
                            <p><b>Аккаунты в соц. сетях:</b><br>
                                <a href="https://vk.com/kes35t" target="_blank">https://vk.com/kes35t</a><br>
                                <a href="https://vk.com/totmavoda" target="_blank">https://vk.com/totmavoda</a></p>
                            <p><b>Реквизиты</b></p>
                            <pre>
ИНН/КПП 3518009576 / 351801001
ОГРН 1123535000346
Р/с 40702810700210000180 в
ПАО "БАНК СГБ" г. ВОЛОГДА
К/с 30101810800000000786
БИК 041909786
ОКВЭД 45.21.4
ОКПО 10558068
ОКАТО 19246852029
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=_4FrIj9tbdG3gp1vpZ1roJH83WpvnFux&amp;width=600&amp;height=500&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
                </div>
            </div>
        </div>
    </section><!--/#title-->

{% endblock %}
