{% extends 'voda/base.html' %}
{% load staticfiles %}
{% block content %}

    <section id="main-slider" class="no-margin">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url({% static 'voda/images2/imgs_hd/big/e.jpeg' %})">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="boxed animation animated-item-1">Качественная вода - залог вашего здоровья!</h2>
                                    <p class="boxed animation animated-item-2">Используя чистую воду естественных природных источников вы продлеваете жизнь и повышаете ее качество!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url({% static 'voda/images2/imgs_hd/big/a.jpeg' %})">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered">
                                    <h2 class="boxed animation animated-item-1">Чистая вода – в каждый дом!</h2>
                                    <p class="boxed animation animated-item-2">Вода – это основа жизни. Чистая вода – это источник здоровья и долголетия. Регулярное потребление чистой, свежей и полезной воды со всеми необходимыми для здоровья микроэлементами продлевает жизнь. В то время, как вредные примеси могут спровоцировать развитие серьезных заболеваний. Сегодня в России все большее распространение набирают киоски-автоматы по продаже питьевой воды. И это вполне объяснимо. В ситуации, когда водопроводная и даже родниковая вода не отличается хорошим качеством, вода в таких киосках всегда чистая, свежая и полезная, а главное – доступная каждому.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url({% static 'voda/images2/imgs_hd/big/totma3.jpg' %})">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">Команда профессионалов на страже здоровья Тотьмичей и гостей города!</h2>
                                    <p class="boxed animation animated-item-2">Когда делом занимается мастер, это лучшая гарантия качества. ООО "Коммунэнергосервис" - это квалифицированная команда с 5 летним опытом работы. Качество нашей воды проверено людьми и высокими технологиями.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="services" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-tint icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Высокое качество</h3>
                            <p>Артезианская скважина в экологически чистом районе в 5 км от города Тотьма, современная полностью автоматизированная система доочистки, еженедельный контроль и анализ поставляемой воды.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-leaf icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Свежесть и мягкий вкус</h3>
                            <p>Продается в специально оборудованных киосках-автоматах, в которые доставляется специализированным транспортом. Максимальный срок хранения воды в киоске - две недели.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-flask icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Уникальный состав</h3>
                            <p>Вода содержит полезные для здоровья сульфаты, хлориды, кальций, магний, калий и натрий.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-cog icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Передовые технологии</h3>
                            <p>Наши поставщики оборудования зарегистрировали 18 патентов в сфере автоматического розлива.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-rub icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Доступность</h3>
                            <p>Мы работаем без накруток. Мы не гонимся за деньгами. Мы просто делаем свою работу.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-map-marker icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Удобство расположения</h3>
                            <p>В настоящее время мы установили 4 автомата в г. Тотьма и активно продолжаем работу по увеличению их количества.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section><!--/#services-->

    <section id="pricing">
        <div class="container">
            <div class="center">
                <h2>Наши цены</h2>
                <p class="lead">Продажа воды в автоматах города Тотьма:</p>
            </div><!--/.center-->
            <div class="gap"></div>
            <div id="pricing-table" class="row">

                <div class=" col-md-4 col-xs-6">
                    <ul class="plan plan2">
                        <li class="plan-name">
                            <h3>По ключу</h3>
                        </li>
                        <li class="plan-price">
                            <div>
                                <span class="price">2.70</span>
                                <small>руб</small>
                            </div>
                        </li>
                        <li>
                            <strong>1</strong> литр
                        </li>
                        <br>
                        <li>
                            <img class="img-responsive img-thumbnail img-circle" src="{% static 'voda/images2/clear_water.jpg' %}" alt="" >
                        </li>
                    </ul>
                </div><!--/.col-md-3-->

                <div class="col-md-4 col-xs-6">
                    <ul class="plan plan3">
                        <li class="plan-name">
                            <h3>За наличный расчет</h3>
                        </li>
                        <li class="plan-price">
                            <div>
                                <span class="price">3.00</span>
                                <small>руб</small>
                            </div>
                        </li>
                        <li>
                            <strong>1</strong> литр
                        </li>
                        <br>
                        <li>
                            <img class="img-responsive img-thumbnail img-circle" src="{% static 'voda/images2/clear_water.jpg' %}" alt="" >
                        </li>
                    </ul>
                </div><!--/.col-md-3-->

                <div class="col-md-4 col-xs-6">
                    <ul class="plan plan3">
                        <li class="plan-name">
                            <h3>Электронный ключ</h3>
                        </li>
                        <li class="plan-price">
                            <div>
                                <span class="price">50</span>
                                <small>руб</small>
                            </div>
                        </li>
                        <li>
                            <strong>1</strong> штука
                        </li>
                        <br>
                        <li>
                            <img class="img-responsive img-thumbnail img-circle" src="{% static 'voda/images2/key3.jpg' %}" alt="" >
                        </li>
                    </ul>
                </div><!--/.col-md-3-->

            </div>
        </div>
    </section><!--/#pricing-->

    <section id="key_using">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Электронный ключ можно получить/заменить в магазине <b>"ВСЕ ДО ЛАМПОЧКИ"</b></p>
                    <p><b>Адрес:</b> г. Тотьма, ул. Луначарского, 14а.</p>
                    <p><b>Телефон/факс:</b> 8(81739) 2-17-39.</p>
                </div>
                <div class="col-md-6">
                    <p>При предъявлении <b>пенсионного удостоверения</b> выдается <b>льготный электронный ключ</b> БЕСПЛАТНО, на который ежемесячно будет начисляться <b>5 литров воды</b></p>
                </div>
            </div>
        </div>
    </section>

    <section id="delivery" class="">
        <div class="container">
            <h2 class="center">Доставка воды и сопутствующие товары</h2>
            <h3 class="center">Заказ по телефону: 8 (921) 1-21-16-21</h3>
            <br>
            <div class="row">

                <div class="col-sm-3">
                    <div class="panel-group" id="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-parent="">
                                        Доставка воды
                                    </a>
                                </h4>
                            </div>
                            <div id="" class="panel">
                                <ul class="list-group text-left">
                                    <li class="list-group-item"><img class="img-responsive img-thumbnail img-square" src="{% static 'voda/images2/delivery1.png' %}" alt=""></li>
                                    <li class="list-group-item"><b>Стоимость:</b> 130 руб./19 литр</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/#accordion1-->
                </div><!--/.col-sm-4-->

                <div class="col-sm-3">
                    <div class="panel-group" id="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-parent="">
                                        Бутыли
                                    </a>
                                </h4>
                            </div>
                            <div id="" class="panel">
                                <ul class="list-group text-left">
                                    <li class="list-group-item"><img class="img-responsive img-thumbnail img-square" src="{% static 'voda/images2/bottle1.jpeg' %}" alt=""></li>
                                    <li class="list-group-item"><b>Стоимость:</b> уточнить по телефону</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/#accordion1-->
                </div><!--/.col-sm-4-->

                <div class="col-sm-3">
                    <div class="panel-group" id="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-parent="">
                                        Помпы механические
                                    </a>
                                </h4>
                            </div>
                            <div id="" class="panel">
                                <ul class="list-group text-left">
                                    <li class="list-group-item"><img class="img-responsive img-thumbnail img-square" src="{% static 'voda/images2/pompa1.jpg' %}" alt=""></li>
                                    <li class="list-group-item"><b>Стоимость:</b> уточнить по телефону</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/#accordion1-->
                </div><!--/.col-sm-4-->

                <div class="col-sm-3">
                    <div class="panel-group" id="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-parent="">
                                        Пробки
                                    </a>
                                </h4>
                            </div>
                            <div id="" class="panel">
                                <ul class="list-group text-left">
                                    <li class="list-group-item"><img class="img-responsive img-thumbnail img-square" src="{% static 'voda/images2/cork1.png' %}" alt=""></li>
                                    <li class="list-group-item"><b>Стоимость:</b> уточнить по телефону</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/#accordion1-->
                </div><!--/.col-sm-4-->

            </div>
        </div>
    </section>

    <section id="about-us" class="container">

        <div class="gap"></div>
        <h1 class="center">Как это работает</h1>
        <!--p class="lead center">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p-->
        <div class="gap"></div>

        <div id="meet-the-team" class="row">
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="{% static 'voda/images2/imgs_old/well.png' %}" alt="" ></p>
                    <h5>ПРИРОДНЫЙ ИСТОЧНИК</h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="{% static 'voda/images2/imgs_old/track.png' %}" alt="" ></p>
                    <h5>БЕРЕЖНАЯ ДОСТАВКА</h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="{% static 'voda/images2/imgs_old/kiosk.png' %}" alt="" ></p>
                    <h5>ВЫСОКОТЕХНОЛОГИЧНОЕ ОБОРУДОВАНИЕ РЯДОМ С ВАШИМ ДОМОМ</h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="{% static 'voda/images2/imgs_old/family.png' %}" alt="" ></p>
                    <h5>ЗДОРОВЬЕ ВАШЕЙ СЕМЬИ</h5>
                </div>
            </div>
        </div><!--/#meet-the-team-->
    </section><!--/#about-us-->

    <section id="testimonial" class="green-sea">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <h1>Немного об идее</h1>
                        <!--p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p-->
                    </div>
                    <div class="gap"></div>

                    <div id="idea-slider" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner" role="listbox">

                            <div class="item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <h2>Социальная направленность</h2>
                                            <p>Проект «ВАШЕ ЗДОРОВЬЕ» изначально был задуман как социально значимый и был призван обеспечить качественной питьевой водой небольшой город по минимальным ценам.</p>
                                        </div>
                                        <div class="col-md-6 text-left">
                                            <p><img style="max-height: 225px" class="img-responsive img-thumbnail img-square" src="{% static 'voda/images2/imgs_old/idea1.jpg' %}" alt="" ></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <h2>Мы сегодня</h2>
                                            <p>В данный момент сеть социальных автоматов по продаже питьевой воды реализована в г. Тотьма. Ведется активная работа по ее расширению.</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><img class="i225x225 img-responsive img-thumbnail img-square" src="{% static 'voda/images2/imgs_old/idea2.jpg' %}" alt="" ></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <h2>Гарантия качества</h2>
                                            <p>Наша компания тщательно следит за технологическими процессами на всех этапах, чтоб вы могли получить гарантированно качественный продукт, что подтверждается еженедельными протоколами испытаний воды в лабораторном центре ФБУЗ "Федеральный центр гигиены и эпидемиологии" Роспотребнадзора.</p>
                                        </div>
                                        <div class="col-md-6 text-left">
                                            <p><img class="i225x225 img-responsive img-thumbnail img-square" src="{% static 'voda/images2/imgs_old/idea3.jpg' %}" alt="" ></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <h2>Современные технологии</h2>
                                            <p>Использование современных технологий и высокий уровень автоматизации в процессах производства, продажи питьевой воды позволяет обеспечить нашу продукцию минимальными ценами.</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><img class="i225x225 img-responsive img-thumbnail img-square" src="{% static 'voda/images2/imgs_old/idea4.jpg' %}" alt="" ></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a style="background-image: none" class="left carousel-control" href="#idea-slider" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a style="background-image: none" class="right carousel-control" href="#idea-slider" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>


                </div>
            </div>
        </div>
    </section><!--/#testimonial-->

{% endblock content %}
